<div class="well well-sm text-center">
    <h1 style="margin-top: 0">SOAT</h1>
    <p>Cotiza y Compra fácilmente tu Seguro Obligatorio de Accidentes de Tránsito</p>

    <form class="form-inline">
        <div class="form-group">
            <label>PLACA </label>
            <input type="text" class="form-control"  placeholder="ABC12A" maxlength="6"
                   ng-model="vm.plate"
                   plate >
        </div>
        <button type="button" class="btn btn-success btn-sm" ng-click="vm.searchVehicle()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Consultar
        </button>
    </form>

</div>

<section class="row">
    <nav class="col-sm-4">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-repeat="item in vm.wizard.options" ng-class="{active: $index == vm.wizard.index}">
                <a>{{($index + 1) + '. ' + item}}</a>
            </li>
        </ul>
    </nav>

    <article class="col-sm-8">
        <div class="panel panel-default" style="padding: 10px;">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-danger" style="width: 22%"></div>
                <div class="progress-bar progress-bar-striped progress-bar-warning" style="width: {{vm.wizard.index >= 1 ? 22 : 0}}%"></div>
                <div class="progress-bar progress-bar-striped progress-bar-info" style="width: {{vm.wizard.index >= 2 ? 22 : 0}}%"></div>
                <div class="progress-bar progress-bar-striped progress-bar-success" style="width: {{vm.wizard.index >= 3 ? 22 : 0}}%"></div>
                <div class="progress-bar progress-bar-striped progress-bar-success" style="width: {{vm.wizard.index >= 4 ? 12 : 0}}%"></div>
            </div>

            <!-- Datos del Vehiculo-->
            <form class="form-horizontal" ng-show="vm.wizard.index == 0">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Placa</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" readonly ng-model="vm.vehicle.placa">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Clase</label>
                    <div class="col-sm-6">
                        <select class="form-control"
                                ng-options="class as class.tipo for class in vm.class"
                                ng-model="vm.vehicle.tipo"
                                ng-change="vm.setSubtype()">
                            <option value="">Elija</option>
                        </select>
                    </div>
                    <div class="col-sm-4 checkbox" ng-if="vm.vehicle.tipo.tipo == 'MOTOS'" style="padding-left: 0px;">
                        <label>
                            <input type="checkbox" ng-model="vm.isMotocarro">
                            MOTOCARRO
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Subtipo</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="number" class="form-control"
                                   ng-model="vm.vehicle.subtype"
                                   placeholder="{{vm.vehicle.tipo.clase || 'CILINDRAJE' | lowercase}}"
                                   ng-disabled="vm.vehicle.tipo.tipo == 'MOTOS' && vm.isMotocarro"
                                   ng-blur="vm.setSubtype()">
                            <div class="input-group-addon" ng-bind="vm.getClassSufix()"></div>
                        </div>
                    </div>
                    <span class="col-sm-4" ng-bind="vm.subtype"></span>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Edad</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="edad"
                                   ng-model="vm.vehicle.edad">
                            <div class="input-group-addon">A&ntilde;o{{vm.vehicle.edad == 1 ? '' : 's'}}</div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Datos Personales-->
            <form class="form-horizontal" ng-show="vm.wizard.index == 1">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tipo Documento</label>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="vm.propietario.placa">
                            <option value="">Elija</option>
                            <option value="CC">C&eacute;dula de Ciudadan&iacute;a</option>
                            <option value="CE">C&eacute;dula de Extranjer&iacute;a</option>
                            <option value="NIT">NIT</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Documento</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="number" ng-model="vm.vehicle.placa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nombres</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" ng-model="vm.vehicle.placa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Apellidos</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" ng-model="vm.vehicle.placa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Correo Electr&oacute;nico</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="email" ng-model="vm.vehicle.placa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tel&eacute;fono</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="tel"  ng-model="vm.vehicle.placa">
                    </div>
                </div>
            </form>

            <!-- Datos de Pago-->
            <form class="form-horizontal" ng-show="vm.wizard.index == 2">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nº. de Tarjeta</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="number" ng-model="vm.tarjeta.numero">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Titular</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" ng-model="vm.tarjeta.titular">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Caducidad</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="date" ng-model="vm.tarjeta.fecha_vencimeinto">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">CVV</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" ng-model="vm.tarjeta.cvv">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nº. Cuotas</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="number" ng-model="vm.tarjtea.cuotas">
                    </div>
                </div>
            </form>

            <!-- Finalizar-->
            <form class="form-horizontal" ng-show="vm.wizard.index == 3">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <td>Placa</td>
                        <td>Clase</td>
                        <td>Subtipo</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>

                <table class="table table-bordered table-condensed">
                    <tr>
                        <td>Prima</td>
                        <td>Fosyga (50%)</td>
                        <td>RUNT</td>
                        <td>Total</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>

                <h3>Total a Pagar <span class="label label-info">$123,456.7</span></h3>

                <button class="btn btn-success pull-right" type="submit">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Realizar Pago</button>
            </form>

            <!-- PAGINATION -->
            <nav>
                <ul class="pager">
                    <li ng-click="vm.wizard.change('PREV')" class="previous" ng-if="vm.wizard.hasPrev"><a><span aria-hidden="true">&larr;</span> {{vm.wizard.prev}}</a></li>
                    <li ng-click="vm.wizard.change('NEXT')" class="next" ng-if="vm.wizard.hasNext"><a>{{vm.wizard.next}} <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>

        </div>
    </article>
</section>





