<div class="well text-center">
    <h1>SOAT</h1>
    <p>Cotiza y Compra fácilmente tu Seguro Obligatorio de Accidentes de Tránsito</p>

    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">PLACA </label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="ABC12A">
        </div>
        <button type="button" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Cotizar
        </button>
    </form>

</div>


<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Clase</label>
        <div class="col-sm-6">
            <select class="form-control" id="inputEmail3" >
                <option>Elija</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Subtipo</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>