<div class="page-header">
    <h3>Listado de Polizas Vendidas</h3>
</div>
<p>
    <i class="glyphicon glyphicon-certificate text-success"></i> Activo <br/>
    <i class="glyphicon glyphicon-certificate text-danger"></i> Vencido
</p>
<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th>#</th>
        <th>Placa</th>
        <th>Propietario</th>
        <th>Documento</th>
        <th>Fecha Compra</th>
        <th>Fecha Vencimiento</th>
        <th></th>
    </tr>
    </thead>
    <tbdoy>
        <tr ng-repeat="item in vm.list">
            <td ng-bind="$index + 1"></td>
            <td ng-bind="item.placa"></td>
            <td ng-bind="item.nombres + ' ' + item.apellidos"></td>
            <td ng-bind="item.tipo_doc + ' ' + item.doc"></td>
            <td ng-bind="item.created_at"></td>
            <td >
                <i class="glyphicon glyphicon-certificate" ng-class="vm.isPolizaActive(item.fecha_vencimiento) ? 'text-success' : 'text-danger' "></i>
                {{item.fecha_vencimiento}}
            </td>
            <td><a class="btn" ng-click="vm.seeDetail(item.id)"><i class="glyphicon glyphicon-search"></i></a></td>
        </tr>
    </tbdoy>
</table>