<table class="table table-bordered table-condensed">
    <tr>
        <td>Placa</td>
        <td>Clase</td>
        <td>Subtipo</td>
    </tr>
    <tr>
        <td ng-bind="vm.vehicle.placa"></td>
        <td ng-bind="vm.vehicle.tipo.tipo"></td>
        <td ng-bind="vm.vehicle.subtipo.subtipo"></td>
    </tr>
</table>

<table class="table table-bordered table-condensed">
    <tr>
        <td>Prima</td>
        <td>Fosyga (50%)</td>
        <td>RUNT</td>
        <td>Total</td>
    </tr>
    <tr>
        <td ng-bind="vm.vehicle.tarifa.valor_prima | currency"></td>
        <td ng-bind="vm.vehicle.tarifa.fosyga | currency"></td>
        <td ng-bind="vm.vehicle.tarifa.tasa_runt | currency"></td>
        <td ng-bind="vm.vehicle.tarifa.total | currency"></td>
    </tr>
</table>

<table class="table table-bordered table-condensed">
    <tr>
        <td>Activo Desde</td>
        <td>Activo Hasta</td>
    </tr>
    <tr>
        <td ng-bind="vm.vehicle.fecha_vigencia"></td>
        <td ng-bind="vm.vehicle.fecha_vencimiento"></td>
    </tr>
</table>

<legend>Coberturas</legend>
<ol>
    <li>Muerte y gastos funerarios: 750 SMLDV</li>
    <li>Gastos médicos: 800 SMLDV</li>
    <li>Incapacidad permanente: 180 SMLDV</li>
    <li>Gastos de transporte: 10 SMLDV</li>
</ol>